
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*Обнуление*/
/* *,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
}

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
} */
body{
    font-family: 'Comfortaa', cursive;;
}

.label{
    position: fixed;
    display: flex;
    left: calc(100% - 150px);
    top: 10px;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 30px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    z-index: 1;
    animation: blinking 1s linear infinite;
}
@keyframes blinking{
    0%{
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }
    50%{
        background-color:rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0.5);
    }
    100%{
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax {
    position: relative;
    height: 100%;
}
.parallax__item {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
}
.parallax__background {
    background: url('../img/compressed/background.jpg') 0 0 / cover no-repeat;
}
.parallax__snow-main {
    background: url('../img/compressed/snow-main.png') bottom right / 100% no-repeat;
    z-index: 1;
}
.parallax__tree {
    background: url('../img/compressed/tree.png') no-repeat;
    background-size: 30%;
    background-position-x: 0%;
    background-position-y: 100%;
    z-index: 3;
}

.parallax__snow-near-tree {
    background: url('../img/compressed/snow-near-tree.png') no-repeat;
    background-size: 40%;
    background-position-x: 0%;
    background-position-y: 100%;
    z-index: 2;
}

.parallax__gift{
    background: url('../img/compressed/gift.png') no-repeat;
    background-size: 9%;
    background-position: 35% 98%;
    z-index: 1;
}
.parallax__snowman{
    background: url('../img/compressed/snowman.png') no-repeat;
    background-size: 25%;
    background-position: 90% 100%;
    z-index: 1;
}

.parallax__snowfall-first {
    background: url('../img/compressed/snowflakes-2.png'),  url('../img/compressed/snowflakes-4.png');
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    animation: snow 20s linear infinite;
    will-change: transform, opacity;
}
.parallax__snowfall-second{
    background: url('../img/compressed/snowflakes-1.png'), url('../img/compressed/snowflakes-3.png');
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    animation: snow 20s linear infinite;
    will-change: transform, opacity;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

.flex-grid{
    display: flex;
}
.col{
    flex-grow: 1;
}
@media (max-width: 400px){
    .flex-grid{
        display: block;
    }
}


.content {
    position: relative;
    margin: 0 10px;
}
.content__body {
    max-width: 1170px;
    margin: 0px auto;
}
.content__article, .content__article-message {
    padding: 25px;
    padding-top: 70px;
    background-color: white;
    line-height: 24px;
    font-size: 18px;
    text-align: justify;
    position: relative;
    border-radius: 5px;
}
.content__article::before{
    content: url(../img/compressed/hat.png);
    position: absolute;
    top: -35px;
    left: -65px;
    transform: rotate(-60deg);
    transition: transform 0.5s;
}

/* .content__article:hover::before{
    transform: rotate(-55deg) scale(1.3);
}
 */
.content__article p, .content__article-message p{
    margin-bottom: 40px;
}


@media (max-width:767px){
	.content__article{
		font-size: 14px;
		line-height: 20px;
	}
	.content__article p{
		margin: 0px 0px 10px 0px;
    }
    .parallax__tree{
        background-size: 35%;
    }
    .parallax__gift{
        background-position: 40% 98%;
    }
    .parallax__snowman{
        background-size: 35%;
    }
    .parallax__snow-main{

    }
}
@media (max-width:400px){
    .parallax__tree{
        background-size: 70%;
        background-position-x: -80%;
    }
    .parallax__gift{
        background-size: 15%;
        background-position: 50% 98%;
    }
    .parallax__snowman{
        background-size: 50%;
        background-position-x: 130%;
    }
    .parallax__snow-main{

    }
}

.image{
    max-width: 300px;
    position: relative;
}

.image img{
    max-width: 100%;
    position: relative;
    border: 6px solid white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    z-index: 1;
}

.image::before, .image::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    border: 6px solid white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.image::before {
    background: lightskyblue;
    top: 0px;
    left: -10px;
    transform: rotate(-5deg);
}
.image::after {
    background: lightskyblue;
    top: 5px;
    left: 0px;
    transform: rotate(4deg);
}

.content__form{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-form{
    position: relative;
    z-index: 5;
}

.password-form input{
    border: 2px solid black;
    
}